.Table {
  background-color: rgb(255,255,255);
  padding: 12px 12px;
}
.Table h1 {
  padding-left: 18px;
}
.Table table {
  background-color: rgb(255,255,255);
  border-collapse: separate;  
  border-spacing: 0px;
  table-layout: fixed;
  text-align: left;
  width: 100%;
}
.Table table tbody tr:nth-child(odd){
  background-color: rgb(245,245,245);
}
.Table table thead tr th {
  border-bottom: 1px solid rgb(225,225,225);
  box-sizing: border-box;
  padding: 20px 18px;
  font-size: 0.9rem;
}
.Table table tbody tr td {
  color: rgb(160,160,160);
  padding: 14px 18px;
  font-size: 0.9rem;
}
.Table table tbody tr td:hover {
  cursor: pointer;
}
.Table table tfoot {
  background-color: rgb(255,255,255);
}
.Table table tfoot tr td {
  color: rgb(160,160,160);
  font-size: 0.9rem;
  padding: 20px 18px;
  text-align: right;
}
